head {
    font-family: 'Montserrat', sans-serif;

}


body {
    background: linear-gradient(180deg, rgba(10, 4, 76, 0.97) 60.94%, rgba(79, 0, 224, 0.99) 100%); 
   
}


element.style {
    margin-right: 0px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 80px;
}

#zoetrope-logo {

    width: 20%;
    margin-top: 50px;
}




#banner {
    width: 55%;
    display: inline-block;
    margin-right: 0%;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    
}

#mockup-zoetrope {
     
    display: inline-block;
    width:45%;
    display: inline-block;
    margin-right: 0%;
    
    

}
p {
    color: #F0F0F0;
    font-family: "montserrat";
    font-weight: 500;
    width: 680
    px;
    margin-right: 0%;
    
}

h1 {
    color: #f0f0f0;
    margin-top: 5%;
    font-family:"montserrat";
    font-weight: 700;
    font-size: 30px ;
    width: 500px;
}

h2 {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 8%;
    color:#D30CED;
    font-family: "montserrat";
    font-weight: 700;
}

h3 {

    color: #f0f0f0;
    margin-top: 0%;
    margin-bottom: 16px;
    font-family: "montserrat";
    font-weight: 900;


}

h6 {
    color: #c7c7c7;
    margin-top:0%;
    font-family: "montserrat";
    font-weight: 300;
}

strong {
        color: #f0f0f0;
    }
     
 

    button  {
        padding: 15px 30px;
        color:#040440 ;
        font-family: "montserrat";
        font-size: 16px;
        font-weight: 600;
        background: #D30CED;
        box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        cursor: pointer;
        transition: 1s;

    }

    button:hover {

    background: #9D0CF7;

    }


    


    #textinho {
        display: inline-block;
        text-align: left;
        color: #f0f0f0;
        font-family:"montserrat";
        font-weight:400;
        font-size: 16px;
        width: 450px ;
        margin-top: 10% ;
        margin-left: 5%;
    
    }

    #interface {

    text-align: center;
    color: #D30CED;
    margin-top:25% ;
    font-size: 40px ;



    }
    
    #argumento {

        display: inline-block;
        text-align: left;
        color: #f0f0f0;
        font-family:"montserrat";
        font-weight:400;
        font-size: 16px;
        width: 450px ;
        margin-top: 2% ;
        margin-left: 5%;


    }

    #botao {
    
        width: 900px;
        align: "margin-right";
        display: inline-block;
        padding: 15px 30px;
        color:#040440 ;
        font-family: "montserrat";
        font-size: 16px;
        font-weight: 600;
        background: #D30CED;
        box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        cursor: pointer;
        transition: 1s;


    }

    
    



    

